<p id="notice"><%= notice %></p>
<p>
  <b>Title:</b>
  <%= @book.title %><br>
  <% @book.images.each{|data| %>
    <%= link_to "ダウンロード:#{data.filename}" , url_for(:action => 'download' , :id =>  data.id,:showid => @book.id) %><br>
  <% } %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
